<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>MapPositionValue</servlet-name>
		<servlet-class>com.velik.recommend.map.ui.MapPositionValueServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MapPositionValue</servlet-name>
		<url-pattern>/service/map/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CellInfo</servlet-name>
		<servlet-class>com.velik.recommend.map.ui.CellInfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CellInfo</servlet-name>
		<url-pattern>/service/cell/*</url-pattern>
	</servlet-mapping>

</web-app>
 